{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main class="p-5">

    <h1>Hello<i class="bi bi-airplane"></i></h1>

    <button class="btn btn-primary">
        <i class="bi bi-sd-card"></i>
    </button>

    <div>
        <img src="/svg/slack.svg">
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}