{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div>
    <h2 class="my-4">Список сторінок</h2>
    <p class="mb-5">Інформація про мій проект</p>

    <div><a href="http://localhost:3000/summary" class="btn btn-primary my-2 col-3">Summary</a></div>
    <div><a href="http://localhost:3000/education" class="btn btn-primary my-2 col-3">Education</a></div>
    <div><a href="http://localhost:3000/skills" class="btn btn-primary my-2 col-3">Skills</a></div>
    <div><a href="http://localhost:3000/work" class="btn btn-primary my-2 col-3">Work</a></div>
    <div><a href="http://localhost:3000/web" class="btn btn-primary my-2 col-3">Web</a></div>
    <div><a href="http://localhost:3000/bio" class="btn btn-primary my-2 col-3">Bio</a></div>
    <div><a href="http://localhost:3000/car" class="btn btn-primary my-2 col-3">Car</a></div>
    <div><a href="http://localhost:3000/error" class="btn btn-primary my-2 col-3">Error</a></div>
    <div><a href="http://localhost:3000/facebook" class="btn btn-primary my-2 col-3">Facebook</a></div>
    <div><a href="http://localhost:3000/js" class="btn btn-primary my-2 col-3">JS</a></div>
    <div><a href="http://localhost:3000/list" class="btn btn-primary my-2 col-3">List</a></div>
    <div><a href="http://localhost:3000/mac" class="btn btn-primary my-2 col-3">Mac</a></div>
    <div><a href="http://localhost:3000/person" class="btn btn-primary my-2 col-3">Person</a></div>
    <div><a href="http://localhost:3000/program" class="btn btn-primary my-2 col-3">Program</a></div>
    <div><a href="http://localhost:3000/shopcart" class="btn btn-primary my-2 col-3">Shopcart</a></div>
    <div><a href="http://localhost:3000/shopcatalog" class="btn btn-primary my-2 col-3">Shopcatalog</a></div>
    <div><a href="http://localhost:3000/shophome" class="btn btn-primary my-2 col-3">Shophome</a></div>
    <div><a href="http://localhost:3000/shopnews" class="btn btn-primary my-2 col-3">Shopnews</a></div>
    <div><a href="http://localhost:3000/shoporder" class="btn btn-primary my-2 col-3">Shoporder</a></div>
    <div><a href="http://localhost:3000/shopproduct" class="btn btn-primary my-2 col-3">Shopproduct</a></div>
    <div><a href="http://localhost:3000/shopprofile" class="btn btn-primary my-2 col-3">Shopprofile</a></div>
    <div><a href="http://localhost:3000/shopreview" class="btn btn-primary my-2 col-3">Shopreview</a></div>
    <div><a href="http://localhost:3000/task21" class="btn btn-primary my-2 col-3">Task21</a></div>
    <div><a href="http://localhost:3000/task22" class="btn btn-primary my-2 col-3">Task22</a></div>
    <div><a href="http://localhost:3000/task31" class="btn btn-primary my-2 col-3">Task31</a></div>
</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}